@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap');
.navbar{
	background: url("../images/homepage/hero-bg-desktop@2x.jpg") top no-repeat ;
	background-size:cover;
	width: 100%;
	height: 820px;
	padding:7em 12em;
	@media (max-width: 1100px){
         background-image: url("../images/homepage/hero-bg-tablet@2x.jpg");
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         -webkit-box-align: end;
             -ms-flex-align: end;
                 align-items: flex-end;
         padding:4em 0 10em 0;
         height: 1020px;
   	}
   	@media (max-width: 668px){
         background-image: url("../images/homepage/hero-bg-mobile@2x.jpg");
         height: 980px;
   	}
   	@media (max-width: 412px){
         height: 1180px;
         
   	}
	.inner-navbar{
		display: inline-block;
		@media (max-width: 1100px){
				text-align: center;
				margin: 0 auto;
		}
		.header{
			width: 60%;
			margin: 10em 0 0 0;
			@media (max-width: 1100px){
				text-align: center;
				margin: 4em auto 0 auto;
			}
			@media (max-width: 668px){
		         width: 80%;
   	        }
			h1{
				font-size: 4rem;
				letter-spacing: 2px;
				font-family: 'Spartan', sans-serif;
                font-weight: 300;
			}
			p{
				font-family: 'Spartan', sans-serif;
				font-size: 1.25rem;
				margin: 1.5em 0;
				width: 90%;
				line-height: 2.25rem;
				
			}
			button{
				font-family: 'Spartan', sans-serif;
				padding:1.5em 4em;
				background:transparent;
				color: #fff;
				border:1px solid #fff;
				letter-spacing: 1.5px;
				font-size: 1rem;
				-webkit-transition: 0.4s;
				-o-transition: 0.4s;
				transition: 0.4s;
				cursor: pointer;
				&:hover{
					background:#fff;
					color:#000;
				}
			}
		}
	}
}